<div class="col-xs-12 col-sm-9">
	<div class="main-box">
		<h2><%= @user.name %>のプロフィール</h2>
	    <p class="profile-image"><%= attachment_image_tag @user, :image, size: '400x400' %></p>
	    <div class="profile-body"><%= simple_format(@user.profile) %></div>
	</div>
</div>

<%= render 'posts/search_form', user: @user, tags: @tags %>
