/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

li {
	list-style: none;
}

body {
	background: #F7F7F7;
	font-size: 18px;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0;
}

.row {
	width: 970px;
	margin: 0 auto;
}

header {
	margin-bottom: 40px;
}

.header-row {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
    padding: 15px 0;

    i {
	    position: absolute;
	    right: 0;
	    margin: 20px 30px 10px 0;
	    font-size: 30px
	}
}

.header-nav {
	display: flex;
	justify-content: center;
	background-color: #333;

	li {
		padding: 15px 20px;

		a {
			color: #fff;
		}
	}

	li:nth-child(2) {
		margin: 0 80px;
	}
}

.space-around {
	display: flex;
	justify-content: space-around;
}

.footer-nav {
	display: flex;
	margin-bottom: 0;
	background-color: #333;

	li {
		padding: 15px 20px;
		margin-bottom: 0;
		color: #fff;

		a {
			color: #fff;
		}
	}

	li:last-child {
	margin-left: auto;
	}
}

